/* Adding Font */
@font-face {
    font-family: 'SF-Pro';
    src: url('../fonts/SF-Pro.otf') format('opentype');
}
/* Global Styles */
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #010101;
}
/* Header Styles */
header{
    background-color: #000;
    border-bottom: #fcee0a 1.5px solid;
}
header div{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div a img{
    width: 15em;
}
#dynamicId{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    border: #fcee0a 1.5px dashed;
    border-radius: 0.7rem;
    padding: 1rem;
    text-align: center;
    user-select: none;
}
/* Main Styles */
.m-container h2{
    font-family: 'SF-Pro', sans-serif;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    user-select: none;
}
#orderForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 4rem;
}
#orderForm label{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem;
}
#orderForm select{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0.7rem;
    padding: 0.4rem;
    width: 15rem;
}
#orderForm select option{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    color: #000;
    background-color: #fff;
}
#userName{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    border: #fff 1.5px solid;
    border-radius: 0.7rem;
    padding: 0.5rem;
}
#specialInstructions{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    border: #fff 1.5px solid;
    border-radius: 0.7rem;
    padding: 0.5rem;
    height: 10rem;
    resize: none;
    margin-bottom: 1rem;
}
.submit-button{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.5rem;
    color: #000000;
    background-color: #fe9900;
    border: #f5f5f5 1.5px dashed;
    border-radius: 0.7rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.6s;
}
.submit-button:hover{
    background-color: #fcee0a;
    transform: scale(1.01);
}
.submit-button:active{
    background-color: #fcee0a;
    transform: scale(0.99);
}
/* Footer Styles */
footer{
    background-color: #000;
    border-top: #fcee0a 1.5px solid;
    padding: 2rem;
}
.love{
    text-align: center;
    user-select: none;
}
.love p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.3rem;
    color: #f5f5f5;
    text-align: center;
}
.love div p{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #f5f5f5;
    text-align: center;
}
.love p:nth-child(1) i{
    color: #ff0000;
}
.footer-langs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
}
.footer-langs span{
    font-family: 'SF-Pro', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #0e0e0e;
    text-align: center;
    gap: 0.5vw;
    background-color: #fcee0a;
    border-radius: 5px;
    padding: 0.3vw;
    border: 1px #0e0e0e dashed;
}
/* Pop Up Styles */
.popup{
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
    padding: 2vw;
}
.popup-container{
    background-color: #fafafa;
    width: 25vw;
    min-height: 25vw;
    max-height: fit-content;
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
}
#closePopup{
    position: absolute;
    top: 1vw;
    right: 1vw;
    cursor: pointer;
    transition: 0.6s;
    outline: none;
    background: none;
    border: none;
    color: #0e0e0e;
    font-size: 1.5vw;
    transition: 0.4s;
}
#closePopup:hover{
    transform: scale(1.1);
    color: #ff0000;
}
#closePopup:active{
    transform: scale(0.9);
}
.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popup-content img{
    width: 8vw;
    height: 8vw;
}
.popup-content p{
    font-family: 'SF-Pro', sans-serif;
    font-size: 1.25vw;
    color: #0e0e0e;
    text-align: center;
    margin-top: 1vw;
}
@media screen and (max-width: 640px){
    .popup-container{
        width: 90vw;
        height: 90vw;
    }
    #closePopup{
        font-size: 5.5vw;
    }
    .popup-content img{
        width: 30vw;
        height: 30vw;
    }
    .popup-content p{
        font-size: 5vw;
    }
}
@media screen and (min-width: 641px) and (max-width: 768px){
    .popup-container{
        width: 60vw;
        height: 60vw;
    }
    #closePopup{
        font-size: 3.5vw;
    }
    .popup-content img{
        width: 20vw;
        height: 20vw;
    }
    .popup-content p{
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .popup-container{
        width: 40vw;
        height: 40vw;
    }
    #closePopup{
        font-size: 2vw;
    }
    .popup-content img{
        width: 15vw;
        height: 15vw;
    }
    .popup-content p{
        font-size: 2.5vw;
    }
}